body{
  margin:0px;
  padding:0px;
}
.main_header{  
    -webkit-font-smoothing: antialiased;
    background-color: #fa4b2a;
    
    box-shadow: 1px 0 0 1px rgba(0,0,0,0.15);
    height: 60px;
    position: relative;
    width: 100%;
    line-height: 60px;
   

}

/*.main_header::after {
    content: "";
    clear: both;
   
}*/


.menu_icon{
    width:60px;
    height:60px;
    color: #fff;
    font-family: "verge-font-icons";
    font-size: 24px;
    content: '\e805';
    text-align: center;
    line-height: 60px;
    /*position: absolute;*/
     background-color: #fa4b2a;
     float:left;

}
.the_verge img{
width:135.7px;
height:26px;
z-index: 10;
margin-top: 16.155px;

}
.the_verge{
	width:140px;
	height:60px;
	/*position: absolute;
	left:60px;*/
	float:left;
}
.new_articles{
height:60px;
width:79px;
float:right;
    text-transform: uppercase;
 	border-left-color: white;
   border-left-style: solid;
   /*border-left: 1px;*/    

}

.new_articles_content {    
	/*display: block;*/
	    font-size: 18px;
	margin-top:1px;
	color: #fff;
  /* margin: auto;*/
   width:79px;
   height:41px;
   text-align: center;
/*   border-left-color: white;
   border-left-style: solid;
   border-left: 3px; */
}
.new_articles_content strong{

	margin-top: 2px;
    font-size: 2em;
    line-height: 0.15;
}
.row{
width:100%;
height:175px;
margin-bottom:0;
padding:0;
z-index: 4;

  color: #FFF;

}
.row1 {
 /*position: absolute;*/
 background-image: url("https://cdn0.vox-cdn.com/thumbor/6mOZSWPW5HsaakinZwEso_bfeZg=/156x0:697x541/350x350/cdn0.vox-cdn.com/uploads/chorus_image/image/50424055/nsa.0.jpg"); 
background-size: cover;
position: relative;
/*background-color: #292484;*/
/*background-image: linear-gradient(135deg, #292484,#dc4225);*/
float:left;


}





.row1 h2{
  z-index: 5;
  position: absolute;
      font-weight: 400;
    line-height: 1.2;
  color: #FFF;
      font-size: 2.2em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);


}

.row1::after{
  position: absolute;
    background-color: #292484;
    background-image: linear-gradient(135deg, #292484,#dc4225);
    opacity: 0.7;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    content: '';

}

.row2 {
    float: left;

background-image: url("https://cdn0.vox-cdn.com/thumbor/_0L7sQCIMQ6lkHNBetkCfmfRAzY=/0x0:3000x1688/340x192/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/50435205/GettyImages-166412919.0.jpg");

background-size: cover;
position: relative;

}

.row2::after{   
     background-color: #002f4b;
    position:absolute;
    background-image: linear-gradient(135deg, #002f4b,#417711);
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}

.row2 h2{
  z-index: 5;
  position: absolute;

  color: #FFF;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  text-align: center;
     word-wrap: break-word;


}


.row3 {
    float: left;

background-image: url("https://cdn0.vox-cdn.com/thumbor/SEC7WFxcpWRtWLNctUA5ZpKFilo=/0x0:2039x1147/340x192/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/50434073/evga_sc17_vlad_savov.0.0.jpg");

background-size: cover;
position: relative;

}

.row3::after{
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #292484;
    background-image: linear-gradient(135deg, #292484,#a83279);


}

<span class="p-comment-count heat3">23</span>




.row3 h2{
  z-index: 5;
  position: absolute;
  font-size: 1.4em;
  color: #FFF;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);


}




/*.image_scroll_elements{

    display: inline-block;
    width:306px;
    height:175px;
    /*position: absolute;*/
}
/*.image_scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    width:auto;
    height:175px;
      white-space: nowrap;
}*/
.image_scroll_elements {
  width: 200px;
  height: 100%;
  background: rgba(255, 0, 0, 0.1);
  margin-left: 10px;
  display: inline-block;/*
  background-image: url("https://static.pexels.com/photos/54278/pexels-photo-54278.jpeg");*/
}



.image_scroll { 
  height: 175px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}










                     

















.animated_vertical_navbar{
width: 248px;
height:626.719px; 
position:absolute;
top:0px;
left:-274px;
z-index: 10;

}
.animated_vertical_navbar_shadow{
/*width:360px;*/
width:100%;
height:626.719px; 
position:absolute;
left:-100%;
z-index: 9;
background-color: red;
opacity: 1;
top:0px;


}


.animated_vertical_navbar_zindex{

/*z-index:100;*/

}


/*.animation_class_animated_vertical_navbar{
animation: moveleft 5s ;
animation-fill-mode: forwards;

}

@keyframes moveleft{

  100%{ 
    top:0px;left:300px;}
}*/


.transform_right{

transition: all 2s ease;
left:0px;

}
.transform_left{
  transition: all 2s ease;
left:-274px;

}
.transform_left_shadow{
transition: all 2s ease;
left:-100%;


}



  


.animated_vertical_navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 248px;
    height:626.719px; 
    background-color: rgba(0,0,0,0.5);
    transition: width 0.4s ease-in-out;
}


.animated_vertical_navbar li a {
    display: block;
    color: #fff;
    width: 212px;
    height:35.994px;
    padding:12.600px 18px 9px 40.500px;
    text-decoration: none;
    border-left: 4px solid #fa4b2a;
    background:transparent;
    background-color: #222;
    border-top: 1px solid #2f2f2f;

    line-height: 2;
}
/*.login_signup{

width:212px;
height:35.994px;
padding:12.600px 18px 9px 18px;

}*/
.login_signup_image{
width:36px;
height:36px;
margin:0px 18px 0px 0px;
padding:0;


}

.right_vertical_navbar{
width:248px;
height:800px;
 border-left: 4px solid #fa4b2a;
 position: fixed;
  z-index: 12;
  top:0px;
  right:-252px;
  background-color: white;


}
.right_vertical_navbar ul{
  list-style-type: none;
}

.right_vertical_navbar ul li a {
display: block;
width:212px;
height: 40px;
padding: 0px 18px 9px 18px;

 text-decoration: none;



}

.right_vertical_navbar_shadow{
height:800px;
width:100%;
position:fixed;
z-index: 11;
top:0px;
right:-100%;
background-color: green;

}


.right_vertical_navbar_transform_left{

    transition: all 0.5s ease;
    right:0px;


}

.right_vertical_navbar_shadow_transform_left{

    transition: all 0.5s ease;
    right:0px;

}

.right_vertical_navbar_transform_right{
transition: all 0.5s ease;
right:-248px;



}
.right_vertical_navbar_shadow_transform_right{
transition: all 0.5s ease;
right:-100%;


}

